# Godot 4+ specific ignores
.godot/
.godot/editor/editor_layout.cfg
.godot/editor/filesystem_cache8
.godot/editor/filesystem_update4
.godot/editor/main.tscn-folding-3070c538c03ee49b7677ff960a3f5195.cfg
.godot/editor/project_metadata.cfg
.godot/editor/script_editor_cache.cfg
